html {
  font-size: 62.5%;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1rem;
}

body {
  font-size: 1.6rem;
  padding: 0 8px;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .nav-icon {
    display: none;
  }
}

.nav {
  font-weight: bold;
}

.nav__sub-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0099ff;
  }
  .nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin: 8px;
    border-bottom: 1px solid #fff;
  }
  .nav__link {
    color: #fff;
  }
}

@media screen and (min-width: 769px) {
  .nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .nav__item {
    margin: 0 8px;
  }
  .nav__sub-nav {
    -webkit-box-shadow: grey 1px 1px 2px;
            box-shadow: grey 1px 1px 2px;
    position: absolute;
  }
  .nav__sub-item {
    padding: 16px 24px;
    border-bottom: 1px solid #ff6500;
  }
  .nav__link {
    color: #000;
  }
}

.button {
  background-color: #ff6500;
  border: none;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 32px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
}

.button:active {
  -webkit-box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25);
}

.card {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__close-icon {
  text-align: right;
}

@media screen and (min-width: 769px) {
  .header__close-icon {
    display: none;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 425px) {
  .bg {
    background: url("../../assets/bg-small.svg") no-repeat center center fixed;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .bg {
    background: url("../../assets/bg-medium.svg") no-repeat center center fixed;
  }
}

@media screen and (min-width: 769px) {
  .bg {
    background: url("../../assets/bg-large.svg") no-repeat center center fixed;
  }
}

.hero {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__left-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .hero__right-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.hero__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */