* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica", "Arial", sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1rem;
}

body {
  font-size: 1.6rem;
  padding: 0 8px;
  height: 100%;
  width: 100%;
}

input,
textarea {
  outline: none;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .nav-icon {
    display: none;
  }
}

.nav {
  font-weight: bold;
}

.nav__sub-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0099ff;
  }
  .nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin: 8px;
    border-bottom: 1px solid #fff;
  }
  .nav__link {
    color: #fff;
  }
}

@media screen and (min-width: 769px) {
  .nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .nav__item {
    margin: 0 8px;
  }
  .nav__sub-nav {
    -webkit-box-shadow: grey 1px 1px 2px;
            box-shadow: grey 1px 1px 2px;
    position: absolute;
  }
  .nav__sub-item {
    padding: 16px 24px;
    border-bottom: 1px solid #ff6500;
  }
  .nav__link {
    color: #000;
  }
}

.button {
  background-color: #ff6500;
  border: none;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 32px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
}

.button:active {
  -webkit-box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25);
}

.button-v2 {
  background-color: transparent;
  border: none;
  padding: 8px 32px;
  border-radius: 10px;
  font-weight: bold;
  color: #ff6500;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-v2:hover {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #ff6500;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-v2:active {
  -webkit-box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25);
}

.card {
  padding: 8px 0;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  text-align: center;
  display: inline-block;
}

.article {
  padding: 8px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  min-width: 300px;
  display: inline-block;
}

.article__image {
  max-width: 100%;
  height: auto;
}

.article__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article__date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

.article__desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article__button-v2 {
  float: right;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.company__contact {
  line-height: 3px;
}

.links__link {
  color: #fff;
  display: inline-block;
  margin-top: 8px;
  font-weight: bold;
}

.service-card {
  padding-bottom: 8px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  min-width: 300px;
  text-align: center;
  display: inline-block;
  margin: 8px;
  position: relative;
}

.service-card__icon {
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: 0 auto;
}

.service-card__title {
  margin-top: 0;
}

.service-card__desc {
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-container-239-1 {
  position: relative;
  width: 100%;
  padding-top: 41.84%;
}

.img-container-239-1__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.img-container-1-166 {
  position: relative;
  width: 50%;
  padding-top: 83%;
}

.img-container-1-166__img {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .form__top-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__top-level > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
            flex: 0 0 27%;
  }
}

.form__text-input {
  width: 100%;
  text-align: center;
  margin: 16px 0;
  position: relative;
}

.form__text-input::after {
  display: block;
  content: " ";
  border-bottom: solid 3px #ff6500;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.form__text-input:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.form__text-input > label {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
}

.form__text-input > input,
.form__text-input > textarea {
  position: relative;
  width: 100%;
  padding: 8px;
  border: none;
}

.form__text-input_focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.form__control {
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header__close-icon {
  text-align: right;
}

@media screen and (min-width: 769px) {
  .header__close-icon {
    display: none;
  }
}

.footer {
  margin-top: 160px;
  background-color: #0099ff;
  padding: 80px 8px 8px 8px;
  margin-left: -8px;
  margin-right: -8px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__top > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  text-align: center;
}

.footer__bottom {
  text-align: center;
}

.footer__link {
  color: #fff;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 425px) {
  .bg {
    background: url("../../assets/bg-small.svg") no-repeat center center fixed;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .bg {
    background: url("../../assets/bg-medium.svg") no-repeat center center fixed;
  }
}

@media screen and (min-width: 769px) {
  .bg {
    background: url("../../assets/bg-large.svg") no-repeat center center fixed;
  }
}

.hero {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__left-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .hero__right-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.hero__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-box .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.home-section {
  margin: 72px 0;
  text-align: center;
}

.image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff6500;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-text__left-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  min-width: 300px;
  padding: 16px;
}

.image-text__left-content img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -49px;
}

.image-text__right-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  padding: 16px;
}

.article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article-box .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.service-list {
  /** need to set height and width to avoid swiperjs layout collapse **/
  width: 100%;
}

@media screen and (max-width: 768px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-list__content {
    min-width: 300px;
  }
  .service-list__desc-box {
    text-align: center;
    margin: 24px 0px;
  }
}

@media screen and (min-width: 769px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .service-list__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    width: 65%;
  }
  .service-list__desc-box {
    text-align: center;
    color: #fff;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    padding: 8px;
    background-color: #ff6500;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    left: -50px;
    z-index: 50;
    padding: 24px 8px;
  }
  .service-list__hr {
    background-color: #0099ff;
    height: 2px;
  }
}

.to-contact-section {
  background-color: #0099ff;
  padding: 80px 0;
}

.to-contact-section__right-content {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .to-contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .to-contact-section__left-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .to-contact-section__right-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    text-align: center;
  }
}

.to-article-section {
  width: 100%;
  text-align: center;
}

.to-article-section__swiper {
  width: 500px;
}
/*# sourceMappingURL=main.css.map */