@import "../abstracts/variables";

.articles-section {
  margin: 160px 0;
  &__article-list {
    padding: 0 16px;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));

    & > * {
    }
  }
}
