@import "../abstracts/variables";

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-bg;
  opacity: 0;

  @media screen and (max-width: $size-tablet - 1  + "px") {
    background: url(../assets/bg-small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media screen and (min-width: $size-tablet + "px") and (max-width: $size-laptop - 1 + "px") {
    background: url(../assets/bg-medium.jpg) no-repeat center center fixed;
  }

  @media screen and (min-width: $size-laptop + "px") {
    background: url(../assets/bg-prototype1-v3.jpg) no-repeat center center
      fixed;
  }

  &_normal {
    @media screen and (min-width: $size-laptop + "px") {
      background: url(../assets/bg-large.png) no-repeat center center fixed;
    }
  }
}

.bg-other-pages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-bg;
  background-image: url(/assets/bg-other-pages.jpg);
  background-size: cover;
  background-position: center;
}
