@import "../abstracts/variables";

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  @media screen and (max-width: $size-tablet - 1  + "px") {
    background: url("../../assets/bg-small.svg") no-repeat center center fixed;
  }

  @media screen and (min-width: $size-tablet + "px") and (max-width: $size-laptop - 1 + "px") {
    background: url("../../assets/bg-medium.svg") no-repeat center center fixed;
  }

  @media screen and (min-width: $size-laptop + "px") {
    background: url("../../assets/bg-large.svg") no-repeat center center fixed;
  }
}
