@import "../abstracts/variables";

.careers-section {
  margin: 160px 0;
  &__career-list {
    padding: 0 16px;
    display: grid;
    align-items: center;
    column-gap: 16px;
    row-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    & > * {
    }
  }
}
