@import "../abstracts/variables";

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  height: $header-height;

  margin: 0 8px;

  z-index: $z-index-header;

  // for nav tag
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  &__nav-icon {
  }

  &__close-icon {
    text-align: right;
  }

  @media screen and (min-width: $size-laptop + "px") {
    &__close-icon {
      display: none;
    }
  }
}
