@import "../abstracts/variables";

.hero {
  text-align: center;
  height: 100vh;

  @media screen and (min-width: $size-laptop + "px") {
    display: flex;

    &__left-content {
      flex: 0 0 50%;
    }

    &__right-content {
      flex: 0 0 50%;
    }
  }

  &__left-content {
    // to bring this left-content center vertically.

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.slogan-box {
  //box-shadow: $box-shadow;
  //border-radius: 3px;
  //background-color: rgba(255, 255, 255, 0.3);
}
