@import "../abstracts/variables";

.image-text {
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
  //flex-wrap: wrap;

  background-color: $color-accent;
  box-shadow: $box-shadow;
  border-radius: 6px;

  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  color: #fff;

  &__left-content {
    //flex: 1 0 45%;
    min-width: 300px;
    padding: 16px;

    & img {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: $box-shadow;
      position: relative;
      top: -49px;
    }
  }

  &__right-content {
    padding: 16px;
    //@media screen and (max-width: $size-tablet - 1 + px) {
    //  padding-top: 0;
    //}
  }
}
