@import "../abstracts/variables";

.projects-section {
  &__project-list {
    display: grid;
    align-items: center;
    column-gap: 8px;
    row-gap: 24px;

    // issue-grid-with-no-media-query
    @media screen and (max-width: $size-laptop - 1 + "px") {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

    @media screen and (min-width: $size-laptop + "px") {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
  }
}
