@import "../abstracts/variables";

.service-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__content {
    flex: 0 0 65%;
  }

  &__desc-box {
    flex: 0 0 30%;
  }
}
