@import "../abstracts/variables";

.signup-section {
  text-align: center;
  min-width: 300px;
  width: 40%;
  max-width: 700px;
  margin: 0 auto;

  //background-color: rgba(255, 255, 255, 0.5);
  //padding: 8px;
  //box-shadow: $box-shadow;
  //border-radius: 3px;

  &__hr {
    @include hr;
    height: 2px;
  }

  margin-bottom: 80px;
}
