@import "../abstracts/variables";

.to-about-us-section {
  background-color: $color-primary;
  color: #fff;
  padding: 0 8px 80px 8px;
  text-align: center;

  &__control {
    margin-top: 40px;
  }
}
