@import "../abstracts/variables";

.to-contact-section {
  background-color: $color-primary;
  padding: 80px 0;

  &__right-content {
    text-align: center;
  }

  @media screen and (max-width: $size-tablet - 1 + "px") {
  }

  @media screen and (min-width: $size-laptop + "px") {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left-content {
      flex: 0 0 45%;
    }

    &__right-content {
      flex: 0 0 45%;
      text-align: center;
    }
  }
}
