@import "../abstracts/variables";

.article-card {
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 5px;

  // don't add 'padding-top' since this element use 'aspect-X-X-wrapper
  // is there any way to do this.

  &__img {
    border-radius: 5px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // align the content bottom
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;

    text-align: center;
    border-radius: 5px;
  }

  &__title {
    color: #fff;
    transition: all 0.5s ease;
  }

  &:hover &__title {
    color: #000;
    transition: all 0.5s ease;
  }

  &__date {
    color: #fff;
    transition: all 0.5s ease;
  }

  &:hover &__date {
    color: #000;
    transition: all 0.5s ease;
  }
  &__desc-box {
    margin-bottom: 8px;
    color: #fff;
    transition: all 0.5s ease;
  }

  &:hover &__desc-box {
    color: #000;
    transition: all 0.5s ease;
  }

  &__img-gradient {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover > &__hover-effect {
    transform: scale(1);
    transition: all 0.5s ease;
  }

  &__hover-effect {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 0.5s ease;
  }

  &__hr {
    background-color: $color-accent;
    height: 1px;
    border: none;
  }
}
