@import "../abstracts/variables";
@import "../abstracts/mixins";

.article {
  padding: 8px;
  box-shadow: $box-shadow;
  min-width: 300px;
  display: inline-block; // to disable margin collapse of 1st and last child

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__title {
    @include ellipsis;
  }

  &__date {
    @include helper-text;
    font-size: $font-size-small;
  }

  &__desc {
    @include clamp(4);
  }

  &__button-v2 {
    // align right
    float: right;
  }
}
