@import "../abstracts/variables";

.nav-icon {
  @media screen and (min-width: $size-laptop + "px") {
    display: none;
  }
}

.nav {
  font-weight: bold;

  &__sub-nav {
    display: none;
  }

  @media screen and (max-width: $size-laptop - 1  + "px") {
    display: none;

    // must match with js when toggle to right
    width: 200px;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $color-primary;
    //transition: all 0.5s ease-in-out;

    //box-shadow: $box-shadow;

    & > ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }

    &__item {
      margin: 8px 0px;
    }

    &__item-hr {
      width: 80%;
      @include hr;
      color: $color-accent;
    }

    &__link {
      color: #fff;
    }

    &_active {
      transition: all 0.5s ease-in-out;
      left: unset;
      right: 0;
    }
  }

  @media screen and (min-width: $size-laptop + "px") {
    // ideally, want to use nav without ul...
    // any better idea?
    & > ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
    }

    &__item {
      margin: 0 8px;
    }

    &__item-hr {
      width: 80%;
      @include hr;
      color: $color-accent;
      display: none;
    }

    &__sub-nav {
      box-shadow: grey 1px 1px 2px;
      position: absolute;
      background-color: white;
      border-radius: 5px;
      padding: 10px;
    }

    &__sub-item {
      padding: 16px 24px;
    }

    &__sub-icon {
      vertical-align: middle;
    }

    &__sub-title {
      vertical-align: middle;
    }

    &__link {
      color: #000;
      padding: 3px 0;
      //border-bottom: 1px solid grey;

      @include border-bottom-ani();
      @include color-change-hover($color-accent);
    }
  }
}
