@import "../abstracts/variables";
@import "../abstracts/mixins";

.service-card {
  padding-bottom: 8px;
  box-shadow: $box-shadow;
  min-width: 300px;
  text-align: center;
  display: inline-block; // to disable margin collapse of 1st and last child
  margin: 8px;

  //@media screen and (max-width: $size-tablet - 1 + "px") {
  //  width: 300px;
  //}

  position: relative;

  &__title {
    color: #000;
  }

  &__hr {
    @include hr;
  }

  &__icon {
    position: relative;
    transform: translate(0, -50%);
    box-shadow: $box-shadow;
    border-radius: 50%; // to apply box-shadow circle, otherwise, it is applied for rectangle of image tag
    margin: 0 auto;
  }

  &__title {
    margin-top: 0;
  }

  &__desc {
    @include helper-text;
    @include clamp(2);
  }
}
