$size-tablet: 426;
$size-laptop: 769;

$color-primary: #0099ff;
$color-secondary: #72ffeb;
$color-accent: #ff6500;
$color-error: #bb0020;

$font-size-h1: 3.2rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.2rem;
$font-size-h4: 2rem;
$font-size-h5: 1rem;
$font-size-body: 1.6rem;
$font-size-small: 1.2rem;
$font-size-icon: 3.6rem;

$opacity-desc: 0.86;
$opacity-helper: 0.6;

$font-family: "Helvetica", "Arial", sans-serif;

$box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
$box-shadow-pushed: -2px -2px 4px rgba(0, 0, 0, 0.25);
$box-shadow-only-top: 0px -1px 5px rgba(0, 0, 0, 0.25);
$box-shadow-only-left: -1px 0px 5px rgba(0, 0, 0, 0.25);

$z-index-bg: -1;
$z-index-header: 1000;

$bodyPaddingWidth: 8px;

$header-height: 50px;
